@font-face {
    font-family: 'kionaitallic';
    src: url('/webfontkit-20241229-230253/kiona-itallic-webfont.woff2') format('woff2'),
         url('/webfontkit-20241229-230253/kiona-itallic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kionaregular';
    src: url('/webfontkit-20241229-230253/kiona-regular-webfont.woff2') format('woff2'),
         url('/webfontkit-20241229-230253/kiona-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: 'Lato-Light';
src: url('/fonts/Lato-Light.ttf') format('truetype');
font-weight: 300; /* Light */
font-style: normal;
font-display: swap;
}

:root {
    --primary-color: black;
    --primary-color-highlight: whitesmoke;
    --bs-body-bg: #A9A9A9;
    --bs-body-font-family: 'Lato-Light', times;
}

html { scroll-behavior: smooth; }

a { color: whitesmoke }
a:hover { color: black }

/*
@media (min-width: 544px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1400px) {}
@media (min-width: 1600px) {}
*/

/**
/* Custom Container Start
**/
.container-custom {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}
@media (min-width: 1200px) {
    .container-custom { width: 1140px; }
}
@media (min-width: 1400px) {
    .container-custom { width: 1340px; }
}
@media (min-width: 1600px) {
    .container-custom { width: 1520px; }
}
/**
/* Custom Container End
**/

/**
/* Main Header Start
**/
header {
    /* padding: 1.5rem; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
header.scrolled {
    padding: 0rem 1.5rem;
}
.sub-container {
    height: 72px;
}
.header-footer {
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 1; /* Ensure this is higher than the z-index of other sections */
}
.header__logo {
    display: none;
}
/**
/* Main Header End
**/

/**
/* Hamburger Button Start
**/
.hamburger-button {
    position: absolute;
    right: 1rem; /* Distance from the right edge */
    display: none;
    flex-direction: column;
    gap: 5px;
    border: none;
    background: none;
}
.hamburger-button span {
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    transition: all 0.3s;
}
/* Hamburger Animation (Open) */
.hamburger-button.open span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}
.hamburger-button.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-button.open span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}
/**
/* Hamburger Button End
**/

/**
/* Flyout Menu Start
**/
.flyout-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: black;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    transform: translateY(-10px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
/* Flyout Menu (Open) */
.flyout-menu.open {
    display: flex;
    flex-direction: column; /* Align items vertically */
    transform: translateY(0);
    opacity: 1;
}
/* Menu items styling */
.flyout-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.flyout-menu li {
    margin-bottom: 1rem;
}
.flyout-menu li:last-child {
    margin-bottom: 0; /* Remove margin for the last item */
}
.flyout-menu a {
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
}
.flyout-menu a:hover {
    color: #ff9800;
}
/**
/* Flyout Menu End
**/

/**
/* Media Query for Narrow Screens Start
**/
@media (max-width: 768px) {
    .header__nav--left,
    .header__nav--right {
        display: none; /* Hide normal nav links */
    }
    .hamburger-button {
        display: flex; /* Show hamburger */
    }

}
/**
/* Media Query for Narrow Screens End
**/


/**
/* Hero Section Start
**/
.main__background {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.main__background-bottom {
    /* Shows only bottom section of background image */
    position: absolute; /* Allows proper positioning */
    bottom: 0; /* Aligns the image's bottom with the container */
}
@media (min-width: 1900px) {
    .main__background-stretch {
        width: 100%
    }
}
@media (min-width: 500px) {
    .hero__kanaloa-text {
        font-size: 5rem;
    }
}
@media (min-width: 800px) {
    .hero__kanaloa-text {
        font-size: 7rem;
    }
}
@media (min-width: 1500px) {
    .hero__kanaloa-text {
        font-size: 9rem
    }
}

.hero__content {
    z-index: 1;
}
.hero__content-width {
    max-width: 540px;
}
.hero__logo-n-margin {
    margin-bottom: -1rem;
}

.hero__scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color: black;
    display: none;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: color 0.3s ease;
}
.hero__scroll-btn:hover {
    color: whitesmoke;
}
/* Show Learn More Scroll Btn only if the viewport height is 700px or more */
@media (min-height: 700px) {
    .hero__scroll-btn {
        display: flex;
    }
}
.hero__scroll-btn .bi {
    /* transition-delay: 0.8s; */
    animation: bounce 2s infinite alternate;
}
@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(10px);
    }
}
/**
/* Hero Section End
**/


/**
/* Steps Section Start
**/
.steps--background-light {
    /* background-color: #FEF8F9; */
    background-color: #DCDCDC;
}
.steps--background-dark {
    background-color: #D3D3D3;
}
.steps {
    padding-top: 40px;
    padding-bottom: 40px;
}
.steps__section-thumbnail {
    height: 240px;
    object-fit: cover;
    margin: 0 auto;
}
.steps__content-width {
    max-width: 456px;
    margin: 0 auto;
}
.steps a {
    color: var(--primary-color);
}
.steps a:hover {
    color: #808080;
}

@media (min-width: 544px) {
    .steps {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .steps__section-thumbnail {
        height: auto;
    }
}
/**
/* Steps Section End
**/